@using Veil.Helpers
@{
    IEnumerable<AlertMessage> alertMessages = TempData["AlertMessages"] as IEnumerable<AlertMessage> ?? new List<AlertMessage>();
}

@if (alertMessages.Any())
{
    <section>
        @foreach (var alert in alertMessages.OrderBy(a => a.Type))
        {
            <div class="row">
                <div class="column">
                    <div data-alert class="alert-box margin-bottom-0 @alert.AlertClass" tabindex="0" aria-live="assertive" role="alertdialog">
                        @alert.Message

                        @if (alert.Link != null)
                        {
                            @(Html.Raw(alert.Link))
                        }
                        <button tabindex="0" class="close" aria-label="Close Alert">&times;</button>
                    </div>
                </div>
            </div>
        }
    </section>
}