@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="column">
        <h2 class="text-danger">Error.</h2>
    </div>
</div>

<div class="row">
    <div class="column large-centered">
        <h3 class="text-danger">An error occurred while processing your request.</h3>
    </div>
</div>

<div class="row padding-top-1">
    <div class="column">
        @Html.ValidationSummary(true)        
    </div>
</div>