@{
    ViewBag.Title = "Locked Out";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <p class="text-center h3-font-style">
            This account has been locked out, please try again later.
        </p>
    </div>
</div>
