@using Veil.Models
@model ErrorViewModel

@{
    ViewBag.Title = "Not Found";
}

<div class="row">
    <div class="column">
        <h2 class="text-danger">@Model.Title</h2>
    </div>
</div>

<div class="row">
    <div class="column large-centered">
        <h3 class="text-danger">@Model.Message</h3>
    </div>
</div>