@{
    ViewBag.Title = "New Email Confirmed";
}

<div class="row">
    <h2>@ViewBag.Title</h2>
</div>

<div class="row panel">
    <p class="text-center">
        Thank you for confirming your new email. </p>
</div>