@using Veil.DataModels.Models
@model IEnumerable<Tag>

@{
    ViewBag.Title = "Favorite Tags";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@using (Html.BeginForm("ManageTags", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row collapse">
        <div class="medium-4 large-2 columns">
            @Html.Label($"{nameof(Tag)}s", new {@class = "prefix"})
        </div>
        <div class="medium-8 large-10 columns panel">
            @{ Html.RenderAction("Index", "Tags", new {selected = Model}); }
        </div>
    </div>

    <button class="right">Save Tags</button>
}