@using Veil.Helpers
@using Veil.Models
@model ManageAddressViewModel

@{
    ViewBag.Title = "Manage Addresses";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <h4>Your Addresses</h4>

        <div class="row collapse">
            <div class="small-6 large-8 columns">
                <select class="expand">
                    <option>823 Example St.</option>
                    <option>893 Example St.</option>
                    <option>15 Theother St.</option>
                </select>
            </div>
            
            <div class="small-6 large-4 columns">
                <a href="#" class="button postfix alert">Delete Selected Address</a>
            </div>
        </div>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <h4>New Address</h4>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Street Address</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text"/>
            </div>
        </div>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">PO Box Number (optional)</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text"/>
            </div>
        </div>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">City</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text"/>
            </div>
        </div>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Country</span>
            </div>
            <div class="small-8 large-10 columns">
                @Html.DropDownListFor(m => m.Countries, Model.Countries.CountryItems())
            </div>
        </div>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Province/State</span>
            </div>
            <div class="small-8 large-10 columns">
                @Html.DropDownListFor(m => m.ProvinceCode, Model.Countries.GetProvinceItems())
            </div>
        </div>

        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Postal Code</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text"/>
            </div>
        </div>

        <button type="submit">Save Address</button>
    </div>
</div>
