@using Veil.Helpers
@using Veil.Models
@model ManageCreditCardViewModel

@{
    ViewBag.Title = "Manage Credit Cards";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <h4>Your Credit Cards</h4>

        <div class="row collapse">
            <div class="small-8 large-4 columns">
                <select>
                    <option>************2834</option>
                    <option>************3129</option>
                </select>
            </div>

            <div class="small-4 large-8 columns">
                <button class="postfix alert">Delete Selected Credit Card</button>
            </div>
        </div>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <h4>Billing Information</h4>

        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Street Address</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">City</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Country</span>
            </div>
            <div class="small-8 large-9 columns">
                @Html.DropDownListFor(m => m.Countries, Model.Countries.CountryItems())
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Province/State</span>
            </div>
            <div class="small-8 large-9 columns">
                @Html.DropDownListFor(m => m.ProvinceCode, Model.Countries.GetProvinceItems())
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Postal Code</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" />
            </div>
        </div>

        <h4>Credit Card Information</h4>

        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Cardholder's Full Name</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Card Number</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">Expiry Date</span>
            </div>
            <div class="small-4 large-9 columns">
                <select>
                    <option>01</option>
                    <option>02</option>
                    <option>03</option>
                    <option>04</option>
                    <option>05</option>
                    <option>06</option>
                    <option>07</option>
                    <option>08</option>
                    <option>09</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                </select>

                <select>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                </select>
            </div>
            <div class="small-4 columns"></div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-3 columns">
                <span class="prefix">CVC Number</span>
            </div>
            <div class="small-8 large-9 columns">
                <input type="text" maxlength="3" />
            </div>
        </div>
    </div>
</div>