@model Veil.Models.ManageAddressViewModel

@{
    ViewBag.Title = "Manage Addresses";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <h4>Your Addresses</h4>

        <div class="row collapse">
            <div class="medium-8 columns">
                @Html.DropDownList("AddressId", Model.Addresses, new { aria_label = "Addresses"})
            </div>
            
            <div class=" medium-4 columns">
                <a href="#" class="button postfix alert">Delete Selected Address</a>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("CreateAddress", "Manage", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="row panel">
        <div class="column">
            <h4>New Address</h4>

            @{ Html.RenderPartial("_ManageAddressFormFields", Model); }

            <button type="submit">Add Address</button>
        </div>
    </div>
}

@section scripts
{
    <script type="text/javascript">
        // Simple script to disable all the optgroups except for the one for the selected country
        $(function () {

            $('#@nameof(Model.CountryCode)').change(function () {

                var selectedCountryName = $('option:selected', this).text();

                $('#@nameof(Model.ProvinceCode) > optgroup').each(function () {

                    if (this.label !== selectedCountryName) {
                        $(this).prop('disabled', true);
                    } else {
                        $(this).prop('disabled', false);
                        $('option', this).first().prop('selected', true);
                    }
                });
            }).
            trigger('change'); // Manually trigger the initial change
        });
    </script>
}