@model Veil.Models.EventViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm()) 
{
    <div class="row">
        <div class="medium-10 medium-centered column">
            <h2>@ViewBag.Title</h2>

            @{ Html.RenderPartial("_EventFormFields", Model); }

            <button type="submit" class="right expand">Create Event</button>
        </div>
    </div>
}