@model Veil.DataModels.Models.Event

@{
    ViewBag.Title = "Event Name";
}

<div class="row">
    <div class="small-12 columns">
        <h2>@ViewBag.Title</h2>
    </div>
</div>
<div class="row">
    <div class="medium-8 columns">
        <p>Event discription is Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi iusto reprehenderit voluptatem odio deleniti provident aliquam qui magnam aspernatur necessitatibus.</p>
    </div>
    <div class="medium-4 columns">
        <div class="panel">
            <p><strong>Date: </strong>March 31st, 2016</p>
            <p><strong>Time: </strong>11:00 AM</p>
            <p><strong>Duration: </strong>2hrs</p>
            <p><strong>Attendees: </strong>38</p>
        </div>
        <button class="expand">Register</button>
    </div>
</div>

<div class="row">
    <div class="small 1 column">
        <p>
            @Html.ActionLink("Back to Event List", "Index")
        </p>
    </div>
</div>