@model Veil.Models.EventViewModel

@{
    ViewBag.Title = $"Edit \"{Model.Name}\"";
}

@using (Html.BeginForm()) 
{
    <div class="row">
        <div class="medium-10 medium-centered  column">
            <h2>@ViewBag.Title</h2>

            @{ Html.RenderPartial("_EventFormFields", Model); }

            <div class="row">
                <div class="medium-10 column">
                    <button type="submit" class="expand">Save Changes</button>
                </div>
                <div class="medium-2 column">
                    @Html.ActionLink("Cancel", "Details", new { id = Model.Id }, new { @class = "button alert expand" })
                </div>
            </div>
        </div>
    </div>
}
