@model Veil.Models.EventListViewModel

@{
    if (Model.OnlyRegisteredEvents)
    {
        ViewBag.Title = "Your Upcoming Events";
    }
    else
    {
        ViewBag.Title = "Upcoming Events";
    }
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@if (!Model.Events.Any())
{
    <div class="row">
        <div class="column">
            <p>There are no events to display.</p>
        </div>
    </div>
}
else
{
    foreach (var eventItem in Model.Events)
    {
        Html.RenderAction("RenderEventListItem", new { eventItem = eventItem, onlyRegisteredEvents = Model.OnlyRegisteredEvents });
    }
}