@{
    ViewBag.Title = "Password Resent Email Sent";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <p class="text-center h3-font-style">
            Please check your email to reset your password.
        </p>
    </div>
</div>