@using System.Web.Mvc.Html
@model Veil.Models.LoginRegisterViewModel
@{
    ViewBag.Title = "Log In";
}

<div class="row">
    <div class="medium-6 columns">
        <section id="loginForm">
            @Html.Partial("_LoginAccountPartial", Model.LoginViewModel)
        </section>
    </div>

    <div class="medium-6 columns">
        <section id="registerForm">
            @Html.Partial("_RegisterAccountPartial", Model.RegisterViewModel)
        </section>
    </div>

    @* TODO: Remove this if we don't add support for external logins
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>
    *@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}