@{
    ViewBag.Title = "Confirmation Email Sent";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <h3 class="text-center">Thank you for registering with Veil!</h3>

    <p class="text-center">
        Please check your email and confirm your email address so that you may log in.
    </p>
</div>