@{
    ViewBag.Title = "Password Reset";
}

<div class="row">
    <div class="column">
        <h1>@ViewBag.Title</h1>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <div class="row">
            <div class="small-center">
                <p class="text-center">
                    Your password has been reset.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="small-12 medium-6 medium-centered columns">
                @Html.ActionLink("Click here to log in",
                    "Login",
                    "Account",
                    routeValues: null,
                    htmlAttributes: new { id = "loginLink", @class = "button expand" })
            </div>
        </div>
    </div>
</div>
