@{
    ViewBag.Title = "Confirmation Email Re-sent";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="columns">
        <h3 class="text-center">
            We have re-sent the confirmation email to you.
        </h3>
    </div>
</div>