@{
    ViewBag.Title = "Confirmation Email Re-sent";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row panel">
    <div class="column">
        <p class="text-center h3-font-style">
            We have re-sent the confirmation email to you.
        </p>
    </div>
</div>