@using Veil.DataModels.Models
@model Veil.Models.AdvancedSearchViewModel

@{
    ViewBag.Title = "Advanced Search";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

@using (Html.BeginForm("AdvancedSearch", "Games", FormMethod.Get))
{
    <div class="row">
        <div class="medium-2 columns">
            <label for="game-name">Name:</label>
        </div>
        <div class="medium-4 columns">
            <input type="text" id="game-name" name="title" />
        </div>
        <div class="medium-2 columns">
            <label for="game-name">Platform:</label>
        </div>
        <div class="medium-4 columns">
            <select id="game-platform" name="platform">
                <option value="">-- Any Platform --</option>
                @foreach (var platform in Model.Platforms)
                {
                    <option value="@platform.PlatformCode">@platform.PlatformName</option>
                }
            </select>
        </div>
    </div>
    <div class="row collapse">
        <div class="medium-4 large-2 columns">
            @Html.Label($"{nameof(Tag)}s", new {@class = "prefix"})
        </div>
        <div class="medium-8 large-10 columns panel">
            @{ Html.RenderAction("Index", "Tags"); }
        </div>
    </div>

    <div class="row">
        <div class="medium-push-9 medium-3 columns">
            <button class="expand">Search</button>
        </div>
    </div>
}