@model Member
@using Veil.DataModels.Models

@{
    ViewBag.Title = $"Wishlist for {Model.UserAccount.UserName}";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p>Wishlist Visibility: @Html.DisplayFor(m => m.WishListVisibility)</p>
        @if (Model.WishListVisibility == WishListVisibility.Public)
        {
            <p>You can share your wishlist with others by sending them this link:
                <a href="@HttpContext.Current.Request.Url.AbsoluteUri">@HttpContext.Current.Request.Url.AbsoluteUri</a>
            </p>
        }
    </div>
</div>

@if (!Model.Wishlist.Any())
{
    <div class="row">
        <div class="column">
            <p>This wishlist is empty.</p>
        </div>
    </div>
}
else
{
    foreach (var gameProduct in Model.Wishlist.OfType<PhysicalGameProduct>())
    {
        Html.RenderAction("RenderPhysicalGameProduct", new { gameProduct = gameProduct, wishlistOwnerId = Model.UserId });
    }
}