@model WishlistViewModel
@using Veil.DataModels.Models
@using Veil.Models

@{
    ViewBag.Title = $"Wishlist for {Model.WishlistOwner.UserAccount.UserName}";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p>Wishlist Visibility: @Model.WishlistOwner.WishListVisibility</p>
    </div>
</div>

@if (!Model.WishlistOwner.Wishlist.Any())
{
    <div class="row">
        <div class="column">
            <p>The wishlist is empty.</p>
        </div>
    </div>
}
else
{
    bool memberIsWishlistOwner = Model.CurrentMember.UserId == Model.WishlistOwner.UserId;
    foreach (var gameProduct in Model.WishlistOwner.Wishlist.OfType<PhysicalGameProduct>())
    {
        Html.RenderAction("RenderPhysicalGameProduct", new { gameProduct = gameProduct,
                currentMember = Model.CurrentMember,
                currentMemberIsWishlistOwner = memberIsWishlistOwner });
    }
}