@model Member
@using Microsoft.AspNet.Identity
@using Veil.DataModels.Models
@using Veil.Models

@{
    ViewBag.Title = $"{Model.UserAccount.UserName}'s Wishlist";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p>Wishlist Visibility: @Model.WishListVisibility</p>
    </div>
</div>

@if (!Model.Wishlist.Any())
{
    <div class="row">
        <div class="column">
            <p>The wishlist is empty.</p>
        </div>
    </div>
}
else
{
    bool memberIsCurrentUser = Model.UserId.ToString() == User.Identity.GetUserId();
    foreach (Product product in Model.Wishlist.OfType<PhysicalGameProduct>())
    {
        var model = new WishlistPhysicalGameProductViewModel()
        {
            Product = product as PhysicalGameProduct,
            MemberIsCurrentUser = memberIsCurrentUser
        };
        Html.RenderPartial("_PhysicalGameProductPartial", model);
    }
}