@model Member
@using Veil.DataModels.Models

@{
    ViewBag.Title = $"Wishlist for {Model.UserAccount.UserName}";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p>Wishlist Visibility: @Html.DisplayFor(m => m.WishListVisibility)</p>
    </div>
</div>

@if (!Model.Wishlist.Any())
{
    <div class="row">
        <div class="column">
            <p>The wishlist is empty.</p>
        </div>
    </div>
}
else
{
    foreach (var gameProduct in Model.Wishlist.OfType<PhysicalGameProduct>())
    {
        Html.RenderAction("RenderPhysicalGameProduct", new { gameProduct = gameProduct, wishlistOwnerId = Model.UserId });
    }
}