
@{
    ViewBag.Title = "MemberDetail";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a report of orders made by a member</em></p>
    </div>
</div>