
@{
    ViewBag.Title = "MemberList";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates a report of members' orders, favourite systems, and tags</em></p>
    </div>
</div>