
@{
    ViewBag.Title = "Wishlist";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates report of games by how many wishlists each appears on</em></p>
    </div>
</div>

<style>
    table {
        width: 100%;
    }

    .game-information p {
        margin-left: 2em;
    }

    td.value-number {
        text-align: right;
    }
</style>

<div class="row">
    <div class="columns">
        <table>
            <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-right">PC New</th>
                    <th class="text-right">PC Used</th>
                    <th class="text-right">Xbox One New</th>
                    <th class="text-right">Xbox One Used</th>
                    <th class="text-right">PS4 New</th>
                    <th class="text-right">PS4 Used</th>
                    <th class="text-right">WiiU New</th>
                    <th class="text-right">WiiU Used</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Wars: Battlefront</td>
                    <td class="value-number">50</td>
                    <td class="value-number">20</td>
                    <td class="value-number">40</td>
                    <td class="value-number">1</td>
                    <td class="value-number">35</td>
                    <td class="value-number">1</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">147</td>
                </tr>
                <tr>
                    <td>The Last of Us</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">15</td>
                    <td class="value-number">1</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">16</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right">Totals:</td>
                    <td class="value-number">50</td>
                    <td class="value-number">20</td>
                    <td class="value-number">40</td>
                    <td class="value-number">1</td>
                    <td class="value-number">50</td>
                    <td class="value-number">2</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">163</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>