
@{
    ViewBag.Title = "Wishlist";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates report of games by how many wishlists each appears on</em></p>
    </div>
</div>