
@{
    ViewBag.Title = "Wishlist";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
        <p><em>Generates report of games by how many wishlists each appears on</em></p>
    </div>
</div>

<style>
    .game-information p {
        margin-left: 2em;
    }
</style>

<div class="row">
    <div class="medium-2 columns">
        <span><em>Optional Filter</em></span><br />
    </div>
    <div class="medium-3 columns">
        <label for="game-name">Game Name:</label>
        <input type="text" id="game-name" name="game-name" list="games" />
    </div>
    <div class="medium-3 end columns">
        <button class="expand">Refresh Report</button>
    </div>
    <datalist id="games">
        <option value="Star Wars: Battlefront" />
        <option value="The Last of Us" />
    </datalist>
</div>

<div class="row">
    <div class="columns">
        <table class="report">
            <thead>
                <tr>
                    <th>Game</th>
                    <th class="text-right">PC</th>
                    <th class="text-right">Xbox One</th>
                    <th class="text-right">PS4</th>
                    <th class="text-right">WiiU</th>
                    <th class="text-right">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Star Wars: Battlefront</td>
                    <td class="value-number">50</td>
                    <td class="value-number">40</td>
                    <td class="value-number">35</td>
                    <td class="value-number">0</td>
                    <td class="value-number">147</td>
                </tr>
                <tr>
                    <td>The Last of Us</td>
                    <td class="value-number">0</td>
                    <td class="value-number">0</td>
                    <td class="value-number">15</td>
                    <td class="value-number">0</td>
                    <td class="value-number">16</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-right">Totals:</td>
                    <td class="value-number">50</td>
                    <td class="value-number">40</td>
                    <td class="value-number">50</td>
                    <td class="value-number">0</td>
                    <td class="value-number">163</td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>