@model Veil.Models.ESRBDescriptionViewModel

<ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-4" style="padding: 1em;">
    @foreach (var esrbContentDescriptor in Model.All)
    {
        var isChecked = Model.Selected?.Contains(esrbContentDescriptor) ?? false ? "checked" : "";

        <li>
            <label>
                <input type="checkbox" name="ContentDescriptors" value="@esrbContentDescriptor.Id" @isChecked>
                @esrbContentDescriptor.DescriptorName
            </label>
        </li>
    }
</ul>