@{
    ViewBag.Title = "Shipping Inforomation";
}

<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Customer Name</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Street Address</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">City</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Country</span>
            </div>
            <div class="small-8 large-10 columns">
                <select>
                    <option>Canada</option>
                    <option>United States</option>
                </select>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Province/State</span>
            </div>
            <div class="small-8 large-10 columns">
                <select>
                    <option>Alberta</option>
                    <option>British Columbia</option>
                    <option>Manitoba</option>
                    <option>Neew Brunswick</option>
                    <option>Newfoundland &amp; Labrador</option>
                    <option>Ontario</option>
                    <option>Prince Edward Island</option>
                    <option>Quebec</option>
                    <option>Saskatchewan</option>
                    <option>Northwest Territories</option>
                    <option>Nunavut</option>
                    <option>Yukon</option>
                </select>
            </div>
        </div>
        <div class="row collapse">
            <div class="small-4 large-2 columns">
                <span class="prefix">Phone</span>
            </div>
            <div class="small-8 large-10 columns">
                <input type="text" />
            </div>
        </div>
        <div class="row collapse">
            <div class="small-9 columns">
                <label>Use shipping information for billing address?</label>
            </div>
            <div class="small-3 columns">
                <input type="checkbox" />
            </div>
        </div>
        <button type="submit">Continue to Billing Information</button>
    </div>
</div>