@using Veil.DataModels.Models
@model Veil.Models.FriendsListViewModel

<div class="row">
    <div class="columns">
        <h2>Friends</h2>

        <h4>Add a New Friend</h4>
        @using (Html.BeginForm("AddFriendRequest", "FriendList", FormMethod.Post))
        {
            <div class="row collapse">
                <div class="medium-4 small-8 columns">
                    <input type="text" id="username" name="username" placeholder="Your friend's username"/>
                </div>
                <div class="medium-2 small-4 columns">
                    <button type="submit" class="button postfix">Add Friend</button>
                </div>
                <div class="medium-6 columns"></div>
            </div>
        }
    </div>
    <div class="medium-6 columns">
        <h4>Requests Pending Action</h4>
        <table>
        @if (Model.PendingReceivedFriendships != null)
        {
            foreach (var request in Model.PendingReceivedFriendships)
            {
                <tr>
                    <td>@request.UserAccount.UserName</td>
                    <td><a href="#">Approve</a></td>
                    <td><a href="#">Decline</a></td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Lol no one wants to be your friend xD</td>
            </tr>
        }
        </table>
    </div>
    <div class="medium-6 columns">
        <h4>My Pending Requests</h4>
        <table>
        @if (Model.PendingSentFriendships != null)
        {
            foreach (var request in Model.PendingSentFriendships)
            {
                <tr>
                    <td>Get out of your parent's basement and meet people, jesus...</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Get out of your parent's basement and meet people, jesus...</td>
            </tr>
        }
        </table>
    </div>
    <div class="columns">
        <h4>Your Friends</h4>
        <span>Click a friend to look at their wishlist.</span>
        <table>
        @if (Model.ConfirmedFriends != null && Model.ConfirmedFriends.Count > 0)
        {
            foreach (var friendship in Model.ConfirmedFriends)
            {
                <tr>
                    <td>@friendship.UserAccount.UserName</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>Wow, look at all those friends! You are SO popular!</td>
            </tr>
        }
        </table>
    </div>
</div>