@using Veil.DataModels.Models
@model Veil.Models.FriendsListViewModel

<div class="row">
    <div class="columns">
        <h2>Friends</h2>

        <h4>Add a New Friend</h4>
        @using (Html.BeginForm("AddFriendRequest", "FriendList", FormMethod.Post))
        {
            <div class="row collapse">
                <div class="medium-4 small-8 columns">
                    <input type="text" id="username" name="username" placeholder="Your friend's username"/>
                </div>
                <div class="medium-2 small-4 columns">
                    <button type="submit" class="button postfix">Add Friend</button>
                </div>
                <div class="medium-6 columns"></div>
            </div>
        }
    </div>
    <div class="medium-6 columns">
        <h4>Requests Pending Action</h4>
        @if (Model.PendingReceivedFriendships.Count > 0)
        {
            foreach (var member in Model.PendingReceivedFriendships)
            {
                <div class="row">
                    <div class="medium-6 columns">@member.UserAccount.UserName</div>
                    <div class="small-6 medium-3 columns"><a href="#">Approve</a></div>
                    <div class="small-6 medium-3 columns"><a href="#">Decline</a></div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns">Lol no one wants to be your friend xD</div>
            </div>
        }
    </div>
    <div class="medium-6 columns">
        <h4>My Pending Requests</h4>
        @if (Model.PendingSentFriendships.Count > 0)
        {
            foreach (var member in Model.PendingSentFriendships)
            {
                <div class="row">
                    <div class="columns">@member.UserAccount.UserName</div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns">Get out of your parent's basement and meet people, jesus...</div>
            </div>
        }
    </div>
    <div class="columns">
        <h4>Your Friends</h4>
        <span>Click a friend to look at their wishlist.</span>
        @if (Model.ConfirmedFriends.Count > 0)
        {
            foreach (var friend in Model.ConfirmedFriends)
            {
                <div class="row">
                    <div class="columns">@friend.UserAccount.UserName</div>
                </div>
            }
        }
        else
        {
            <div class="row">
                <div class="columns">Wow, look at all those friends! You are SO popular!</div>
            </div>
        }
    </div>
</div>