@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="column">
        <p>
            Veil is the e-commerce arm of Conestoga Video Game Store which was created to increase online game sales,
            attract and keep customers coming back, and allow customers to log-in and access members‐only
            features such as wishlists, events, and friends.
        </p>
    </div>
</div>
<div class="row">
    <div class="column">
        <h3>Created By</h3>
        <p>
            Drew Matheson, Isaac West, Kyle zimmerman, Justin Coschi, Sean Coombes
        </p>
    </div>
</div>