@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="column">
        <h2>@ViewBag.Title</h2>
    </div>
</div>

<div class="row">
    <div class="medium-6 column medium-centered padding-bottom-1">
        <address>
            299 Doon Valley Dr<br/>
            Kitchener, ON N2G 4M4<br/>
            (519) 748-5220
        </address>

        <hr/>
        <address>
            <strong>Support:</strong> <a href="mailto:support@cvgs.example.com">support@cvgs.example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:marketing@cvgs.example.com">marketing@cvgs.example.com</a>
        </address>
    </div>
</div>


